<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Easy_Book_Manager.Properties.Settings.Gestion_BiblioConnectionString"
            connectionString="Data Source=DESKTOP-8I7RTMV\SQLEXPRESS;Initial Catalog=Gestion_Biblio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>