USE [master]
GO
/****** Object:  Database [Gestion_Biblio]    Script Date: 15/04/2021 15:23:52 ******/
CREATE DATABASE [Gestion_Biblio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion_Biblio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gestion_Biblio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion_Biblio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gestion_Biblio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion_Biblio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion_Biblio]
GO
/****** Object:  Table [dbo].[Adherents]    Script Date: 15/04/2021 15:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adherents](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Adresse] [varchar](256) NOT NULL,
	[Telephone] [varchar](16) NULL,
	[Age] [int] NULL,
	[Emprunt_en_cours] [int] NULL,
 CONSTRAINT [Adherents_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15/04/2021 15:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Categorie] [varchar](50) NOT NULL,
	[Abreviation] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employes]    Script Date: 15/04/2021 15:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](256) NOT NULL,
 CONSTRAINT [Employes_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emprunt]    Script Date: 15/04/2021 15:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprunt](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date_emprunt] [date] NOT NULL,
	[Date_retour_prevu] [date] NOT NULL,
	[Date_de_rendu] [date] NULL,
	[ID_Adherents] [int] NOT NULL,
 CONSTRAINT [Emprunt_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livres]    Script Date: 15/04/2021 15:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livres](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [nvarchar](256) NULL,
	[Auteur] [varchar](256) NOT NULL,
	[Categorie] [int] NOT NULL,
	[Edition] [varchar](256) NOT NULL,
	[Emprunte] [int] NOT NULL,
	[ID_Emprunt] [int] NULL,
	[Couverture] [varchar](512) NULL,
 CONSTRAINT [Livres_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adherents]  WITH CHECK ADD  CONSTRAINT [FK_Adherents_Emprunt] FOREIGN KEY([Emprunt_en_cours])
REFERENCES [dbo].[Emprunt] ([ID])
GO
ALTER TABLE [dbo].[Adherents] CHECK CONSTRAINT [FK_Adherents_Emprunt]
GO
ALTER TABLE [dbo].[Emprunt]  WITH CHECK ADD  CONSTRAINT [Emprunt_Adherents0_FK] FOREIGN KEY([ID_Adherents])
REFERENCES [dbo].[Adherents] ([ID])
GO
ALTER TABLE [dbo].[Emprunt] CHECK CONSTRAINT [Emprunt_Adherents0_FK]
GO
ALTER TABLE [dbo].[Livres]  WITH CHECK ADD  CONSTRAINT [FK_Livres_Categories] FOREIGN KEY([Categorie])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Livres] CHECK CONSTRAINT [FK_Livres_Categories]
GO
ALTER TABLE [dbo].[Livres]  WITH CHECK ADD  CONSTRAINT [FK_Livres_Emprunt] FOREIGN KEY([ID_Emprunt])
REFERENCES [dbo].[Emprunt] ([ID])
GO
ALTER TABLE [dbo].[Livres] CHECK CONSTRAINT [FK_Livres_Emprunt]
GO
USE [master]
GO
